<h1>SpaceStations#index</h1>

<% @space_stations.each do |station| %>
  <div class="index-card">
    <h2><%= station.name %></h2>
    <%= link_to "Depart", space_station_path(station) %>
  </div>
<% end %>

<%= link_to "Build a New Space Station", :new_space_station %>
