@keyframes animate-modules {
    0% { left: 0px; }
    25% { left: -200px; }
    50% { left: -400px; }
    75% { left: -200px; }
    100% { left: 0px; }
}

.station-module-card {
  position: relative;
  width: 200px;
  height: 152px;
  overflow: hidden;
  img {
    position: absolute;
    animation-name: animate-modules;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
  }
  input {
    font-size: 0.8rem;
    background: none;
    border: none;
    color: $green;
    transition: 1s;
    &:hover {
      color: $dark-green;
    }
  }
  select {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    background: none;
    border: none;
    padding: 2px;
    color: $light-gray;
    &:focus {
      outline: none;
    }
  }
}
